.history-dialog {
    overflow: hidden;
    min-width: 40vw;
    max-width: 600px;
    min-height: 40vh;
    max-height: 80vh;
}

.history-dialog-content {
    overflow-y: auto;
    min-height: 120px;
}
